*.pyc
.vscode
output*/
build
__pycache__
tensorboard_3d
screenshots
debug/
gaussian_renderer/__pycache__
scene/__pycache__
utils/__pycache__
*.egg-info
debug*
dtu_eval/Offical_DTU_Dataset
*.sh
submodules/diff-gaussian-rasterization-org
snapshot_fw.dump
snapshot_bw.dump
train_test_depth.py
data/
TrainData/
SyntheticData/
deep_eikonal_revisit.zip
deep_eikonal_revisit/
__MACOSX/
GenerateData/brara/
GenerateData/commom_functions_only_relevant.py
GenerateData/create_gt_by_mmp.py
