open3d
trimesh
scikit-image
opencv-python
plyfile
tqdm
flask
matplotlib
#mpl_toolkits
argparse
pygeodesic
numpy
pip install PyOpenGL PyOpenGL_accelerate
pip install pyglet==1.5.27
pip install pyrender
#export PYOPENGL_PLATFORM=egl
