open3d
trimesh
scikit-image
opencv-python
plyfile
tqdm
flask
matplotlib
#mpl_toolkits
argparse
pygeodesic
numpy
PyOpenGL 
PyOpenGL_accelerate
pyglet==1.5.27
pyrender
imageio
Cython
#for helping download from google drive
gdown
gdist
pyvista
joblib
#export PYOPENGL_PLATFORM=egl
